.mainAppHolderStyle {
  text-align: 'left';
  margin: 10;
}

.filterLabel {
  margin-bottom: '15px';
  display: block;
}

.tableCellFlareRising {
  color: darkgreen;
  text-align: right;
}

.tableCellFlareFalling {
  color: red;
  text-align: right;
};  

.leftAlign {
  text-align: left;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child {
  padding: 0 48px 0 8px;
}

body
{
   font-family: Arial, sans-serif !important;
}

.filterBoxBackgroundColor {
  background-color: #FAFAFA !important;
}

.layoutBox {
  background-color: #EEEEEE !important;
}

canvas {
  background-color: #FAFAFA !important;
}

.headerStyle  {
  background-color: #FFF;
}

.subTableOddRow {
  text-align: left;
  background-color: #EEEEEE;
}

.subTableEvenRow {
  text-align: left;
}

.subTableWrapper thead th {
  font-weight: bolder !important;
}